{% extends "::base.html.twig" %}

{% block body %}
<div class="page-header">
	<h1><i class="fa fa-exclamation-circle"></i> Welcome
	</h1>
</div>
{% block fos_user_content %}{% endblock %}
{% endblock %}